body
{
    text-align: center;
}

#dir
{
    border: solid;
    text-align: center;
}

#buttons
{
    display: flex;
    border: solid;
}

#en-but
{
    border: solid;
    text-align: center;
    border-radius: 50px;
    width: 150px;
}

#de-but
{
    border: solid;
    text-align: center;
    border-radius: 50px;
    width: 150px;
}

#sub
{
    border: solid;
}